<h1 class="title">Sign on in!</h1>

<form action="/sign_in" method="post">
  <dt>
  <dl><label for="username">Username:</label></dl>
  <dd><input name="username" id="username"></dd>
  <dl><label for="password">Password:</label></dl>
  <dd><input type="password" name="password" id="password"></dd>
  <br>
  <button type="submit">Let's get wild!</button>
  </dt>
</form>