<br/>
<div class="box">
<h2><%= @happy_hour.name %></h2>
<h6><%= @happy_hour.address %></h6>
  <br/>
<p><%= @happy_hour.description %></p>
  <%= link_to "Edit #{@happy_hour.name}", edit_happy_hour_path(id: @happy_hour.id) %>
</div>