@import 'bourbon';
@import 'neat';
@import 'base/base';

body {
  background: (url('http://images.fineartamerica.com/images-medium-large/mile-high-skyline-kevin-munro.jpg'));
  background-size: 100%;

  #wrapper {
    width: 50%;
    height: 100%;
    margin: auto;
  }


  #map { position:absolute;
    height:80%;
    width:50%;
    margin:auto;
  }

  .title {
    text-align: center;
    margin-top: 5%;
    clear: both;
    color: white;
  }

  #map_script {
    margin: auto;
  }

  #map {
    display: inline-block;
    clear: both;
  }

  #nav_bar {
    width: 100%;
    text-align: center;
    background-color: steelblue;
    padding: 3px 0 3px 0;
  }

  .nav_buttons {
    margin-left: 3%;
    margin-right: 3%;
    display: inline-block;

  }

  #to_register {
    float: right;
    display: inline;
    margin-right: -35%;
    margin-top: 8px;
  }

  #register_link {
    background-color: white;
    color: palevioletred;
  }

  dl {
    margin: 0;
  }

  #red {color: red;}

  #green {color: limegreen;}

  a:link, a:visited {
    display: inline;
    width: 120px;
    color: #FFFFFF;
    background-color: steelblue;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8em;
  }

  a:hover, a:active {
    background-color: white;
    color: steelblue;
  }

  .errors {
    color: red;
  }

  .red-border {
    border: 1px solid red;
  }

  .leaflet-control-zoom-in {
    padding-left: 15px !important;
    padding-right: 15px;
  }

  .leaflet-control-zoom-out {
    padding-left: 15px !important;
  }

  .leaflet-control-mapbox-geocoder-toggle {
    padding-left: 15px !important;
  }

  #add-location {
    float: right;
    margin-top: -5%;
  }

}

