@import 'bourbon';
@import 'neat';
@import 'base/base';

* {
    font-family: Arial;
}

#wrapper {
    width: 50%;
    height: 100%;
    margin: auto;
}


#map { position:absolute;
    height:80%;
    width:50%;
    margin:auto;
}

.title {
    text-align: center;
    margin-top: 5%;
    clear: both;
}

#to_map {
    width: 100%;
    height: 15%;
    border-radius: 2px;
    margin-top: 10%;
    font-size: 1.4em;
}

#map_script {
    margin: auto;
}

#nav_bar {
    width: 100%;
    text-align: center;
    background-color: steelblue;
    padding: 3px 0 3px 0;
}

.nav_buttons {
    margin-left: 3%;
    margin-right: 3%;
    display: inline-block;

}

#to_register {
    float: right;
    display: inline;
    margin-right: -35%;
    margin-top: 8px;
}

#register_link {
    background-color: white;
    color: palevioletred;
}

dl {
    margin: 0;
}

#red {color: red;}

#green {color: limegreen;}

a:link, a:visited {
    display: inline;
    width: 120px;
    color: #FFFFFF;
    background-color: steelblue;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8em;
}

a:hover, a:active {
    background-color: white;
    color: steelblue;
}

.errors {
    color: red;
}

