<h1 class="title">Edit <%= @location.name %>!</h1>

<% if @location.errors.present? %>
  <div class='errors'>
    <% @location.errors.full_messages.each do |error| %>
      <%= error %>
    <% end %>
  </div>
<% end %>

<%= render partial: "form" %>