<h2 class="title">All Locations</h2>
<div id="add-location"><%= link_to "+ Add location", new_location_path %></div>
<div class="box">
<ul class="centered-text">
  <br/>
  <% @locations.each do |location| %>
    <li><%= link_to location.name, location_path(location) %></li>
    <br/>
  <% end %>
</ul>
</div>