<h2 class="title">All Locations</h2>
<div class="box">
<ul class="centered-text">
  <br/>
  <% @locations.each do |location| %>
    <li><%= link_to location.name, location_path(id: location.id) %></li>
    <br/>
  <% end %>
</ul>
</div>